<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <players>
        <manager>
            <weights>0.4</weights>
            <redactedBound>5</redactedBound>
            <redactedString>REDACTED</redactedString>
            <redactedMaxPerTeam>6</redactedMaxPerTeam>
        </manager>
    </players>
</config>